body {
  font-family: $ff-open;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75;
  color: $grey;
}



// typograohy

h1, h2, h3, h4, h5, h6 {
  color: $uu-ebony;
  font-family: $ff-mont;
  font-weight: 600;
  margin-bottom: 25px;

  text-transform: uppercase;
}


h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  font-weight: 400;
}


hr {
  margin: 30px 0px;
}


p {
  margin-bottom: 30px;
}

p.lead {
  font-size: 18px;
  font-weight: 400;
  color: $uu-ebony;
}




// buttons & links

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.uu-btn {
  display: inline-block;
  margin: 10px auto;
  position: relative;
  background: $uu-red;
  color: $white;
  padding: 8px 40px 8px 20px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  font-family: $ff-mont;
  text-transform: uppercase;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  @include shadow(0px, 10px, 20px, 0px, rgba(0,0,0,0.1));
  @include transition(all, 0.3s);
}

.uu-btn::after {
  position: absolute;
  top: calc(50% - 12px);
  right: 20px;
  content: "\f105";
  font-family: "FontAwesome";
}

.uu-btn:hover {
  background: #750000;
  color: $white;
  transform: translateY(-2px);
  @include shadow(0px, 20px, 30px, 0px, rgba(0,0,0,0.1));
}

// button colors

.uu-btn.ebony {
  background: $uu-ebony;
  color: $white;
}

.uu-btn.ebony:hover {
  background: $black;
  color: $white;
}

.uu-btn.grey {
  background: $uu-slate;
  color: $white;
}

.uu-btn.grey:hover {
  background: $uu-ebony;
  color: $white;
}

// button sizes

.uu-btn.small {
  padding: 5px 30px 5px 15px;
  font-size: 12px;
}

.uu-btn.small::after {
  right: 15px;
  top: calc(50% - 10px);
}

.uu-btn.large {
  padding: 10px 44px 10px 20px;
  font-size: 16px;
}

.uu-btn.large::after {
  right: 22px;
  top: calc(50% - 14px);
}

// button types

.ghost {
  background: none;
  border: 2px solid $uu-red;
  color: $uu-red;
}

.ghost:hover {
  background: $uu-red;
  color: $white;
}

.ghost.white {
  border-color: $white;
  color: $white;
}

.ghost.white:hover {
  background-color: $white;
  color: $uu-red;
}


// block quotes
blockquote {
  position: relative;
  font-style: italic;
  padding: 20px 60px;
}

blockquote::before, blockquote::after {
  position: absolute;
  font-size: 100px;
  line-height: 100px;
  font-weight: 600;
  font-family: $ff-mont;
  color: $uu-red;
}

blockquote::before {
  top: 0px;
  left: -20px;
  content: open-quote;
}

blockquote::after {
  bottom: -50px;
  right: 20px;
  content: close-quote;
}

blockquote span {
  display: block;
  margin-top: 10px;
}


// drop caps

.drop-cap:first-letter{
	float: left;
	margin: -0.05em 0.15em 0em auto;
	padding: inherit;
	font-size: 100px;
	line-height: 1;
	text-indent: 0px;
	background: none repeat scroll 0% 0% transparent;
	color: inherit;
	font-style: normal !important;
	font-weight:800;
  color: $uu-red;
}


// lists

ul li, ol li {
  @include transition(all, 0.3s);
}

ul li:hover, ol li:hover {
  padding-left: 5px;
}

.uu-list {
  list-style-type: none;
}

.uu-list li {
  position: relative;
}

.uu-list li::before {
  position: absolute;
  top: 0;
  left: -15px;
  content: '\f105';
  font-family: "FontAwesome";
  color: $uu-red;
}

.block-list {
  list-style-type: none;
  margin: 0px 0px 30px 0px;
  padding: 0px;
}

.block-list li {
  display: block;
  padding: 10px 20px;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom: 0px;
}

.block-list li:last-child {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.block-list li:hover {
  padding-left: 25px;
}
