



// site origin tabs
.sow-tabs-tab-container {
  background: none;
  display: flex;
  margin-bottom: 30px;
  border-bottom: 3px solid #f0f3f7;
}

.sow-tabs-tab {
  flex-grow: 1;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
}

.sow-tabs-tab-selected {
  position: relative;
  color: #CC0000;
}
.sow-tabs-tab-selected:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  content: "";
  widows: 100%;
  height: 6px;
  background: linear-gradient(-20deg, #750000, #CC0000);
  box-shadow: 0 4px 10px -2px #CC0000;
}


// trumba calendars
.cal-data {
  background: $uu-smoke;
  padding: 30px;
}
.cal-row {
  display: flex;
}
.cal-item {
  flex-grow: 1;
  border-right: 1px solid $uu-smoke;
  cursor: pointer;
  @include shadow(0px, 10px, 20px, 0px, rgba(0,0,0,0.1));
  @include transition(all, 0.3s);
}
.cal-header {
  background: $uu-ebony;
  padding: 20px 20px 20px 20px;
  @include transition(all, 0.3s);
}
.cal-header h3 {
  margin: 0px;
  padding: 0px;
  color: $white;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}
.cal-header h3 span {
  font-size: 40px;
  font-weight: 800;
  display: block;
}

.cal-body {
  background: $white;
  padding: 20px;
  font-size: 12px;
}
.cal-body h4 {
  font-size: 14px;
}

.cal-item:hover {
  transform: translateY(-4px);
  @include shadow(0px, 20px, 30px, 0px, rgba(0,0,0,0.1));
}

.cal-item:hover .cal-header {
  background: $uu-red;
}
